{% extends 'base.html' %} 

{% block content %}
<div class="container top"style="background:teal;font-size: 20px" >
  <div class="jumbotron" style="background:cadetblue">
    <h1 style="color:burlywood;font-size: 30px" class="text-center"> Instagram Photo </h1>
  </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px" >
            {% for image in image_posts %}
            <div class="home-images">
                <p class="home-text">
                    <a href="{% url 'profile' %}">{{image.profile.username}}</a>
                </p>
                <img src="{{image.image.url}}" style="width: 200px; height: 200px;" alt="Image">
              
                <ul class="list-inline home-list">
                    <li class="list-inline-item">
                        <a href="{% url 'profile' %}">{{image.profile.username}}</a>
                    </li>
                    <li class="list-inline-item">
                    {% autoescape on %}
                        <p>{{image.image_caption|safe}} </p>
                    {% endautoescape %}
                    </li>
                </ul>
                
            </div>
            {% empty %}
            <h2>No images. Plz Follow some people to see their images</h2>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
